.connectorform {
  margin: 0 auto;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  text-align: center;
  font-size: calc(14px + 0.5vmin);
  width: 100%;
  padding: 6px;
  overflow: hidden;
}

#firstouttext {
  font-weight: normal;
  font-size: 1.1em;
}

li.ui-selectee {
  padding: 5px;
  border-top: 0.5px #bbb solid;
  margin: none;
}

li.ui-selectee:hover {
  background: #ddd;
}

li.ui-selected {
  background: #ccc;
}

.ui-selectable {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: show;
  list-style: none;
  border: 0.5px #bbb solid;
  border-top: 0 #bbb solid;
  padding: 0;
  border-radius: 10px;
  text-align: left;
  min-width: 200px;
  width: 40%;
  margin: 0 auto;
}

input {
  width: 10%;
  min-width: 100px;
  min-height: 14px;
  max-height: 20px;
  font-size: calc(10px + 0.8vmin);
  height: 3vh;
}

#host {
  float: left;
}

#target {
  float: right;
}

.side {
  width: 49%;
  margin-left: 1%;
}

.selectors {
  overflow: hidden;
  display: block;
  margin-bottom: 0;
}

.compatiblityimg {
  max-width: 60%;
  max-height: 20vh;
  min-width: 100px;
  display: block;
  margin: 0 auto;
}

.selectimg {
  margin-right: 10%;
  height: 30px;
}

.info {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  text-indent: 50px;
}

.outlink {
  margin: 0 auto;
  display: inline-block;
}

.plugimg {
  height: auto;
  max-height: 200px;
}

.ui-selectable-helper {
  display: none;
}

#out {
  margin: 0 auto;
  text-align: center;
}

.outtext {
  visibility: hidden;
  display: block;
}

.results {
  display: block;
  width: 100%;
}

.resultarrow {
  height: 3vh;
  min-height: 75px;
  min-width: 25px;
  width: 5vw;
  position: relative;
  margin-top: -3vh;
}
