body {
  font-family: sans-serif;
}

.connectorform {
  text-align: center;
  margin: 10%;
  margin-top: 10px;
}

#firstouttext {
  font-weight: normal;
  font-size: 1.1em;
  background-color: green;
  width: 100%;
  color: white;
  margin-bottom: 0;
}

li.ui-selectee {
  padding: 5px;
  margin: 0;
  height: 60px;
  vertical-align: middle;
}

.minimize li.ui-selectee {
  display: none;
}

.minimize li.ui-selected {
  display: inherit;
}

li.ui-selectee:hover {
  background: #ddd;
}

#firstouttext {
  margin: 0;
}

.ui-selectable {
  list-style: none;
  width: 100%;
  height: 75%;
  text-align: center;
  overflow-y: auto;
  overflow-x: show;
  background-color: #7b7c7c;
  color: white;
  padding: 0;
  margin: 0;
}

.ui-selectable.minimize {
  height: auto;
}

.side {
  flex: 2 1 30%;
  min-width: 130px;
  max-height: 40vh;
  margin-bottom: 10px;
}

.plus {
  font-size: 10vw;
  font-weight: bolder;
  color: green;
  flex: 0 2;
  height: 10vw;
}

.connect {
  font-size: 1.5em;
  background-color: green;
  min-height: 50px;
  overflow: none;
  height: 10%;
  vertical-align: middle;
}

.outimg {
  mix-blend-mode: multiply;
  -webkit-filter: contrast(150%);
}

.text {
  margin: 0;
  color: white;
  width: 100%;
  padding: 10px 0px;
}

.step {
  height: 5%;
  vertical-align: middle;
  background-color: #7b7c7c;
  font-weight: normal;
  font-size: 1.1em;
}

#out {
  background-color: #7b7c7c;
}

.result {
  width: 100%;
  background-color: #7b7c7c;
  color: white;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  margin: 0;
}

.slidearrow {
  height: 100%;
  margin: 0;
  background: #7b7c7c;
  vertical-align: middle;
  display: inline-block;
  border: none;
  position: relative;
  outline: 0;
  padding: 8px;
  color: green;
  font-weight: bolder;
  font-size: 4vw;
}

#slideback {
  display: left;
}

#slideforward {
  display: right;
}

.resleft {
  width: 49%;
  float: left;
}

.resright {
  width: 40%;
  float: right;
}

input {
  width: 10%;
  min-width: 100px;
  min-height: 14px;
  max-height: 20px;
  font-size: calc(10px + 0.8vmin);
  height: 3vh;
}

.select {
  flex: 1 1 auto;
}

.selectors {
  margin-bottom: 0;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 30%;
}

.compatiblityimg {
  max-width: 60%;
  max-height: 20vh;
  min-width: 100px;
  display: block;
  margin: 0 auto;
}

.selectimg {
  margin: 0 auto;
  display: block;
  height: 30px;
}

.info {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  text-indent: 50px;
}

.outlink {
  margin: 0 auto;
  display: inline-block;
}

.plugimg {
  height: auto;
  max-height: 200px;
}

.ui-selectable-helper {
  display: none;
}

#out {
  margin-top: 0;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear {
  color: green;
  text-align: right;
  float: right;
  font-size: 0.8em;
}

.outtext {
  visibility: hidden;
  display: block;
}

.results {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  height: auto;
}

div.info {
  font-size: 0.5em;
  color: blue;
  margin-left: 10px;
}

.bighelp {
  margin: 0;
  margin-top: 30px;
}

.info {
  display: inline;
}

.green {
  color: green;
}

.grey {
  color: gray;
}

.big {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.small {
  font-size: 1em;
}

.button {
  text-decoration: none !important;
  background: green;
  color: white;
  font-size: 1.3em;
  padding: 10px;
  border-radius: 20px;
  margin: 10px;
}
